@import "utils/_normalize";
@import "utils/_reset";
@import "utils/vars";
@import "utils/mixins";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

html{
  height: 100%;
}

body{
  background-color: $light-color;
  height: 100%;
  color:$primary-color;
  font-family: $mainFont;
}

/* .goog-te-banner-frame{
  display: none;
} */

.wrapper{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  background-color: $light-color;
  
}

.hidden{display: none;}

.header{
  z-index: 10;
  width: 100%;
  max-width: 1000px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  background-color: $light-color;  

  &__language-selector{
    margin:0 30px;
  }

  &__hidden-title{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
  }

  &__button-log{
    @include button-light;
  }

  &__button-log:hover{
    @include button-light-hover;
  }

  &__button-log:active{
    @include button-light-active;
  }

  &__info-part{
    display: flex;

    &__content{
      margin: 10px;
      display: flex;
      align-items: center;
      color: $primary-color;

      &__icon{
        margin: 5px 10px;
        padding: 5px;
        width: 30px;
      }

      &__text{
        margin: 5px 10px;        
        font-style: italic;
      }
    }

    &__content:hover{
      color:$success-color;
    }
  }
}

.main{
  padding-top: 60px;
  flex: 1 0 auto;  
  display: flex;
  background-color: $light-color;
  
  &__total-section{
    width: 40%;    
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__image-container{
      margin:20px;
      width: 80%;
      background-color: $light-color;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
      animation: morphing 10s infinite;
      overflow: hidden;     
    }

    &__image-container:hover{      
		  animation-play-state: paused;
    }

    &__title{
      margin:40px;
      font-size: 50px;
      color: $success-color;
      letter-spacing: 5px;
      text-shadow: $light-color 2px 2px 0, $light-color -2px -2px 0, $light-color -2px 2px 0, $light-color 2px -2px 0;
    }
  }

  &__other-section{
    width: 60%;    
    display: flex;
    flex-direction: column;

    &__tabs{
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;

      &__tab{
        /* border:1px solid $primary-color;  */ 
        display: flex;
        
        &__button{
          flex-grow: 1;
          font-size: 20px;
          padding: 14px 16px;             
          font-weight: bold;
          transition: 0.3s;        
        }

        &__button:hover{
          background-color:$success-color;
          color: $default-color;           
        }

        &__button:active{
          background-color:$success-color;                               
        }

        .tab__button-active {
          background-color:$success-color;
          color: $primary-color;  
          -webkit-box-shadow: 0px 0px 7px 1px rgba(99, 104, 113, 0.3) inset;
          -moz-box-shadow: 0px 0px 7px 1px rgba(99, 104, 113, 0.3) inset;
          box-shadow: 0px 0px 7px 1px rgba(99, 104, 113, 0.3) inset;      
        }
      }
      
      &__tabcontent{
        display: none;
        padding: 6px 12px;
        -webkit-box-shadow: inset 0px 0px 15px 3px rgba(99,104,113,0.96); 
        box-shadow: inset 0px 0px 15px 3px rgba(99,104,113,0.96);
        border-top: none;

        &__title{
          padding: 10px 5px;
          text-align: center;
          margin: 5px;
          font-size: 20px;   
        }

        #litepicker{
          display:flex;
          margin: 0 auto;
          height: 30px;
          background-color: #636871;
          color: white;
          border-radius: 5px;
          text-align: center;
          font-weight: bold;
          font-size: 18px;
        }

        #litepicker:focus{border: 3px solid $success-color; transition: 0.3s;}
        #litepicker::placeholder { color:$success-color; font-weight: normal; }         
        #litepicker:-ms-input-placeholder { color: $success-color; font-weight: normal;}      
        #litepicker::-ms-input-placeholder { color: $success-color; font-weight: normal;}

        .radio-buttons-form {
          flex-wrap: wrap;
          justify-content: center;
          position: relative;          
          font-size: 15px;
          display: flex;    

          &__radiobtn {
            position: relative;
            display: block;
            min-width: 160px;
            margin: 5px;
            
            &__label {
              display: flex;
              background: $default-color; //lighten($success-color, 30%);
              color: $primary-color;
              border-radius: 5px;
              padding: 10px;
              border: 2px solid $primary-color;
              margin-bottom: 5px;
              cursor: pointer;
              &:after,
              &:before {
                content: "";
                position: absolute;
                right: 11px;
                top: 11px;
                width: 20px;
                height: 20px;
                border-radius: 3px;
                background: lighten($primary-color, 15%);
              }
              &:before {
                background: transparent;
                transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s,
                  0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
                z-index: 2;
                overflow: hidden;
                background-repeat: no-repeat;
                background-size: 13px;
                background-position: center;
                width: 0;
                height: 0;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
              }
            }
            &__input[type="radio"] {
              display: none;
              position: absolute;
              width: 100%;
              appearance: none;
              &:checked + label {
                color: $default-color;
                background: $primary-color; //lighten($success-color, 15%)                
                border-color: $success-color;
                &:after {
                  background: $success-color;
                }
                &:before {
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }
        
      }

      .tab__open{
        display: block;
        /* flex-direction: column;
        justify-content: center; */
        flex-grow: 1;
        min-height: 240px;
      }

      &__button-step-block{
        display: flex;
        justify-content: center;

        &__button{
          @include button-dark;
        }

        &__button:hover{
          @include button-dark-hover;
        }

        &__button:active{
          @include button-dark-active;
        }

        .button__disable{
          @include button-dark-disable;
        }
      }
      
    }

    &__sub-content-block{
      display: flex;
      width: 100%;
      align-self: flex-end;
      background-color: $success-color;      

      &__description{
        width: 70%;

        &__content{         
          .description__content__text{

            &__info{
              color: white;
              text-indent: 20px;
              text-align: justify;
              padding: 5px 15px
            }
          }

          .description__content__facilities{
            display:flex;
            justify-content: space-around;   
            
            &__facility{
              fill: $default-color;
              margin: 5px;
              padding: 5px;
            }

            &__facility:hover{
              background-color: $default-color;
              fill: $primary-color;
              border-radius: 50%;
              transition: 0.3s;
            }
          }

          .svg__facilities{
            width: 30px;
            height: 30px;
          }          
        }
      }

      &__button-container {
        width: 30%;
        background-color: $primary-color;  

        &__button{          
          width: 100%;
          height: 100%;  
          font-size: 25px;         
          
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
          background: transparent;
          cursor:pointer;
        }
        
        &__button:hover{
          transform: scale(0.9);
          -webkit-transform: scale(0.9);
          border: 1px solid $success-color;          
        }
      }

    }
  }
}

.footer{
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  color: $success-color;
  background-color: $light-color;

  &__text{
    margin: 0 10px;

    &__link{
      margin: 0 10px;
      color:$success-color;
    }
  }

  &__logo__link__img {
    width:50px;
  }
}

.main__modal{       
  position: fixed;
  z-index: 20;
  left: 0;
  bottom: -100%; 
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $overlay-color;      
  transition: 0.3s;   

  &__content { 
    margin: 10px 10%;             
    border: 1px solid $success-color;
    width: 80%;
    background-color: $light-color;            

    &__header {
      padding: 4px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $success-color;
      color: $default-color;
    }
    
    &__body {
      padding: 2px 16px;
      width: 100%;      

      .swiper-container {
        width: 100%;
        height: 100%;
        /* min-width: 0px; */
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
  
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;     
        background-size: cover;
        background-position: center;
        
        .swiper-slide__content{
          display: flex;
          width: 90%;
          justify-content: space-around;
          
          .swiper-slide__content__info{
            width:70%;
            min-height: 360px;
            padding:20px;
            font-size: 18px;
            text-align: start;

            .swiper-slide__content__info__title{
              padding: 20px 0;
              font-size:36px;
              font-weight: bold;
            }

            .swiper-slide__content__info__description{
              padding: 10px 0;
              font-style: italic;
              text-align: justify;
              text-indent: 20px;
            }

            .swiper-slide__content__info__facilities{
              padding: 10px 0;
              
              .swiper-slide__content__info__facilities__item::before{
                content: "◊"; 
                color: $success-color;
                font-weight: bold;
                display: inline-block;
                width: 1em;       
              }
            }

            .swiper-slide__content__info__price{
              padding: 10px 0;
            }
          }

          img{
            width: 30%;;
          }
        }                
      }

      .gallery-top {
        height: 80%;
        width: 100%;
      }
  
      .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
      }
  
      .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.6;
      }

      .swiper-button-next,.swiper-button-prev{
        color: $success-color;
      }
  
      .gallery-thumbs .swiper-slide-thumb-active {
        opacity: 1;
      }

      .swiper-scrollbar,.swiper-pagination{
        position: initial;
      } 
      
      
      .container__confirm-form{
        padding: 10px;
        text-align: center;

        &__form{
          display: flex;
          flex-direction: column;
          align-items: center;
          
  
          &-field{
            padding: 5px 0;          
            width:300px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__label{
              font-style: italic;
            }

            &__input{
              height: 30px;
              border-radius: 5px;
              text-align: center;
              -webkit-box-shadow: inset 0px 0px 5px 1px $primary-color; 
              box-shadow: inset 0px 0px 5px 1px $primary-color;
            }

            &__input:focus{background-color: $success-color; transition: 0.3s;}
            &__input::placeholder { color:$success-color; font-weight: normal; }         
            &__input:-ms-input-placeholder { color: $success-color; font-weight: normal;}      
            &__input::-ms-input-placeholder { color: $success-color; font-weight: normal;}
            
          }
        }

        &__button{
          @include button-dark;
        }

        &__button:hover{
          @include button-dark-hover;
        }

        &__button:active{
          @include button-dark-active;
        }

        &__error-message{
          font-size: 20px;
          font-weight: bold;
          padding: 10px;
          color:$success-color;
          text-shadow: $primary-color 1px 1px 0, $primary-color -1px -1px 0, $primary-color -1px 1px 0, $primary-color 1px -1px 0;
          letter-spacing: 1px;
        }
      }      
    }

    &__close {
      color: $primary-color;
      order: 1;            
      font-size: 28px;
      font-weight: bold;
    }
    
    &__close:hover,
    &__close:focus {
      color: $light-color;
      text-decoration: none;
      cursor: pointer;
    }  
  } 
}





/* .hamburger-menu {
  display: none;
}

.overlay__burger__menu{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.6);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
} */
//  показываем меню


#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .overlay__burger__menu {
  right: 0;
  top: 0;
  position: fixed;      
  width: 100%;
  height: 100%;
  background: $overlay-color;
  cursor: pointer;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  z-index: 5;
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: none;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 10;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 60px 0;

  list-style: none;

  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  color: $default-color;
  background-color: $success-color;
}




@media (max-width: 1279px) {

}

@media (max-width: 767px)  {
  .header{
    justify-content: flex-start;
     
    &__info-part{
      flex-wrap: wrap;
      width:180px;      

      &__content{
        margin: 0;   

        &__icon{
          margin: 0;       
        }    
      }
    }
  }

  .menu__btn{
    display:flex;
  }
  

  .main{
    flex-direction: column;

    &__total-section{
      width:100%;      
    }

    &__other-section{
      width:100%;

      &__tabs{
        padding-top: 60px;
      }

      &__sub-content-block{
        padding-top: 60px;
      }
    }

    &__modal__content{
      margin: 5px auto;

      &__body {
        padding: 2px 16px;
        width: 100%;      
  
        .swiper-container {
          
        }
    
        .swiper-slide {
          
          
          .swiper-slide__content{
            
            width: 100%;
            flex-direction: column;
            align-items: center;
          }

          .swiper-slide__content__info, .swiper-slide__galery-top__img{
            width: 90% !important;
          }
        }
      }
    }
  }  
}

@keyframes morphing {
  0% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  }
  25% { 
    border-radius: 58% 42% 65% 25% / 56% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 63% 45%;
    box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;	
  }
  100% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;	
  }
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
