@import "utils/_normalize";
@import "utils/_reset";
@import "utils/vars";

html{
  height: 100%;
}

body{
  background-color: $light-color;
  height: 100%;
  color:$primary-color;
}

/* .goog-te-banner-frame{
  display: none;
} */

.wrapper{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  background-color: $light-color;
  
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  height: 50px;
  background-color: $light-color;

  &__hidden-title{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
  }

  &__info-block{
    display: flex;

    &__content{
      margin: 10px;
      display: flex;
      align-items: center;
      color: $primary-color;

      &__icon{
        margin: 5px 10px;
        padding: 5px;
        width: 30px;
      }

      &__text{
        margin: 5px 10px;        
        font-style: italic;
      }
    }

    &__content:hover{
      color:$success-color;
    }
  }
}

.main{
  flex: 1 0 auto;  
  display: flex;
  background-color: $light-color;
  
  &__total-section{
    width: 40%;    
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__main-image-container{
      width: 80%;
      background-color: $light-color;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
      animation: morphing 10s infinite;
      overflow: hidden;     
    }

    &__main-image-container:hover{      
		  animation-play-state: paused;
    }

    &__main-title{
      font-size: 40px;
      color: $light-color;
    }
  }

  &__other-section{
    width: 60%;    
    display: flex;
    flex-direction: column;

    &__tabs{
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;

      &__tab{
        border:1px solid $primary-color;  
        display: flex;
        
        &__button{
          flex-grow: 1;
          padding: 14px 16px;             
          font-weight: bold;
          transition: 0.3s;        
        }

        &__button:hover{
          background-color:$success-color;
          color: $light-color;           
        }

        &__button:active{
          background-color:$success-color;                               
        }

        .tab__button-active {
          background-color:$success-color;
          color: $primary-color;  
          -webkit-box-shadow: 0px 0px 7px 1px rgba(99, 104, 113, 0.3) inset;
          -moz-box-shadow: 0px 0px 7px 1px rgba(99, 104, 113, 0.3) inset;
          box-shadow: 0px 0px 7px 1px rgba(99, 104, 113, 0.3) inset;      
        }
      }
      
      &__tabcontent{
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
      }

      .tab__open{
        display: block;
        flex-grow: 1;
      }

      &__button-step-block{
        display: flex;
        justify-content: center;

        &__button{
          margin: 5px;
          padding: 5px;
          cursor: pointer;
          font-weight: bold;
          transition: 0.3s; 
          background-color: $primary-color;
          color:$light-color;
        }

        .button__disable{
          cursor: auto;
          background-color: $disabled-color;
        }
      }
      
    }

    &__sub-content-block{
      height: 30%;
      display: flex;
      width: 100%;
      align-self: flex-end;
      background-color: $success-color;

      &__galery-modal{
        width: 30%;
        background-color: $primary-color;   
        
        &__modal{       
          position: fixed;
          z-index: 1;
          left: 0;
          bottom: -100%; 
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: $primary-color; 
          background-color: rgba(0,0,0,0.8);     
          transition: 0.3s;      

          &__content { 
            margin: 10px 10%;             
            border: 1px solid $success-color;
            width: 80%;
            background-color: $light-color;            

            &__header {
              padding: 4px 16px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              background-color: $success-color;
              color: $default-color;
            }
           
            &__body {
              padding: 2px 16px;
              width: 100%;      

              .swiper-container {
                width: 100%;
                height: 100%;
                /* min-width: 0px; */
              }
          
              .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
          
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;     
                background-size: cover;
                background-position: center;
                
                .swiper-slide__content{
                  display: flex;
                  width: 90%;
                  justify-content: space-around;
                  
                  .swiper-slide__content__info{
                    width:50%;
                    padding:40px;
                    font-size: 18px;
                    text-align: start;

                    .swiper-slide__content__info__title{
                      padding: 20px 0;
                      font-size:36px;
                      font-weight: bold;
                    }

                    .swiper-slide__content__info__description{
                      padding: 10px 0;
                      font-style: italic;
                      text-align: justify;
                      text-indent: 20px;
                    }

                    .swiper-slide__content__info__facilities{
                      padding: 10px 0;
                      
                      .swiper-slide__content__info__facilities__item::before{
                        content: "◊"; 
                        color: $success-color;
                        font-weight: bold;
                        display: inline-block;
                        width: 1em;       
                      }
                    }

                    .swiper-slide__content__info__price{
                      padding: 10px 0;
                    }
                  }

                  img{
                    width: 40%;;
                  }
                }                
              }

              .gallery-top {
                height: 80%;
                width: 100%;
              }
          
              .gallery-thumbs {
                height: 20%;
                box-sizing: border-box;
                padding: 10px 0;
              }
          
              .gallery-thumbs .swiper-slide {
                width: 25%;
                height: 100%;
                opacity: 0.6;
              }

              .swiper-button-next,.swiper-button-prev{
                color: $success-color;
              }
          
              .gallery-thumbs .swiper-slide-thumb-active {
                opacity: 1;
              }

              .swiper-scrollbar,.swiper-pagination{
                position: initial;
              }              
            }

            &__close {
              color: $primary-color;
              order: 1;            
              font-size: 28px;
              font-weight: bold;
            }
            
            &__close:hover,
            &__close:focus {
              color: $light-color;
              text-decoration: none;
              cursor: pointer;
            }  
          } 
        }

        &__button{          
          width: 100%;
          height: 100%;  
          font-size: 25px;         
          
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
          background: transparent;
          cursor:pointer;
        }

        &__button:hover{
          transform: scale(0.9);
          -webkit-transform: scale(0.9);
          border: 1px solid $success-color;          
        }
      }

      &__some{
        width: 70%;
      }

    }
  }
}

.footer{
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  color: $success-color;
  background-color: $light-color;

  &__text{
    margin: 0 10px;

    &__link{
      margin: 0 10px;
      color:$success-color;
    }
  }

  &__logo__link__img {
    width:50px;
  }
}





@media (max-width: 1279px) {

}

@media (max-width: 767px) {
  
}






@keyframes morphing {
  0% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  }
  25% { 
    border-radius: 58% 42% 65% 25% / 56% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 63% 45%;
    box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;	
  }
  100% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;	
  }
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
