@function toRem($px) {
    @return ($px / $mainFontSize)+rem;
}

@mixin button-light {
    cursor: pointer;
    position: relative;
    margin: 0 10px;
    height: 40px;
    min-width: 100px;
    min-width: 100px;
    transition: all 0.5s;
    color: var(--primary-color);
    font: {
        size: 2rem;
        family: $paragraphFont;
        style: normal;
        weight: normal;
    }
    background-color: var(--success-color);
    // border: 3px solid var(--primary-color);
    border-radius: 20px;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        border-radius: 30px;
        transition: all 0.3s;
        border: 1px solid $success-color;
        transform: scale(1.2, 1.2);
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.1);
        transition: all 0.3s;
    }
}

@mixin button-light-hover {
    color: var(--light-color);
    &::before {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }
    &::after {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@mixin button-light-active {
    border: 1px solid var(--primary-color);
    transition: .1s;
    transform: scale(0.9);
}

@mixin button-dark {
    cursor: pointer;
    margin: 0 10px;
    min-height: 40px;
    min-width: 100px;
    color: var(--success-color);
    font: {
        size: 2rem;
        family: Ubuntu;
        style: normal;
        weight: normal;
    }
    background-color: var(--primary-color);
    border: 3px solid var(--success-color);
    border-radius: 20px;
}

@mixin button-dark-hover {
    color: var(--default-color);
}

@mixin button-dark-active {
    border: 1px solid var(--success-color);
    transition: .1s;
    transform: scale(0.9);
}

@mixin button-dark-disable {
    border: 3px solid var(--success-color);
    transition: .1s;
    transform: scale(1);
    cursor: not-allowed;
    color: var(--default-color);
    background-color: var(--disabled-color);
}

@mixin button-hotkeys {
    cursor: pointer;
    width: 40px;
    min-height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    &:hover {
        border-color: var(--success-color);
        transition: 0.3s;
    }
    &:active {
        transform: scale(0.8);
        transition: 0.3s;
    }
}

@mixin button-close {
    transition: all 450ms cubic-bezier(.4, .25, .3, 1.3);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 94%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    border: 2px solid $success-color;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    &:hover {
        width: 70px;
        border-radius: 0;
        span:first-of-type {
            transform: translate(-50%, -150%)
        }
        span:last-of-type {
            transform: translate(-50%, -50%)
        }
    }
    span {
        transition: all 400ms cubic-bezier(.4, .25, .3, 1.3) 100ms;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 60px;
        vertical-align: middle;
        &:first-of-type {
            font-size: 2.5rem;
            transform: translate(-50%, -50%);
        }
        &:last-of-type {
            transform: translate(-50%, 50%);
            text-transform: uppercase;
        }
    }
}

@mixin button-form {
    cursor: pointer;
    margin: 0 10px;
    min-width: 100px;
    min-height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--default-color);
    border: 3px solid var(--success-color);
    background-color: var(--primary-color);
    &:hover {
        color: var(--success-color);
        transition: 0.3s;
    }
    &:active {
        transform: scale(0.8);
        transition: 0.3s;
    }
}

@mixin button-start {
    cursor: pointer;
    margin: 10px;
    height: 40px;
    min-width: 100px;
    min-width: 100px;
    color: var(--primary-color);
    font: {
        size: 2rem;
        family: Ubuntu;
        style: normal;
        weight: normal;
    }
    background-color: var(--success-color);
    border: 3px solid var(--primary-color);
    border-radius: 20px;
}

@mixin button-start-active {
    border: 1px solid var(--primary-color);
    transition: .1s;
    transform: scale(0.9);
}